<%= form_with(model: opportunity, local: true) do |form| %>
  <% if opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
    
  </div>

  <div class="field">
    <%= form.label :description %>
    <div class="control">
      <%= form.text_area :description, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tools_needed %>
    <div class="control">
      <%= form.text_area :tools_needed, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :skills_needed %>
    <div class="control">
      <%= form.text_area :skills_needed, class: 'textarea' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Save Opportunity', class: 'button is-dark is-outlined' %>
  </div>
<% end %>
