<%= form_with(model: opportunity, local: true, multipart: true) do |form| %>
  <% if opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>

      <ul>
        <% opportunity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name %>
        <div class="control">
          <%= form.text_field :name, class: 'input' %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :volunteers_needed %>
        <div class="control">
          <%= form.text_field :volunteers_needed, class: 'input', placeholder: 'a number' %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :description %>
    <div class="control">
      <%= form.text_area :description, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tools_needed %>
    <div class="control">
      <%= form.text_area :tools_needed, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :skills_needed %>
    <div class="control">
      <%= form.text_area :skills_needed, class: 'textarea' %>
    </div>
  </div>

  <% @photos.each do |photo| %>
    <%= image_tag(photo.image_url, width: 300) %>
  <% end %>

  <%= form.fields_for :photos do |pf| %>
    <%= pf.hidden_field :image, value: pf.object.cached_image_data %>
    <%= pf.file_field :image, hint: image_tag(pf.object.image_url) %>
    <%= pf.check_box :_destroy unless pf.object.new_record? %>
  <% end %>

  <%#= file_field_tag "files[]", multiple: true %>

  <div class="actions">
    <%= form.submit 'Save Opportunity', class: 'button is-dark is-outlined' %>
  </div>
<% end %>
