<h1 class="title is-4">Work Day Opportunities</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Tools Needed</th>
      <th>Skills Needed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td style="vertical-align: top;"><%= opportunity.name %></td>
        <td style="vertical-align: top; width: 25%;"><%= simple_format opportunity.description %></td>
        <td style="vertical-align: top;"><%= simple_format opportunity.tools_needed %></td>
        <td style="vertical-align: top;"><%= simple_format opportunity.skills_needed %></td>
        <td style="vertical-align: top;">
          <% if user_signed_in? && current_user.is_admin? %>
            <%= link_to 'View Volunteers', signup_assignment_path(opportunity: opportunity), class: 'button is-small is-dark is-outlined' %>
            &nbsp;&nbsp;
            <%= link_to 'Edit', edit_opportunity_path(opportunity), class: 'button is-small is-dark is-outlined' %>
            <%= link_to 'Destroy', opportunity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-danger is-outlined' %>
          <% else %>
            <%= link_to 'Sign Up', signup_assignment_path(opportunity: opportunity), class: 'button is-small is-dark is-outlined' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to 'New Opportunity', new_opportunity_path, class: 'button is-dark is-outlined' %>
<% end %>
